.row {
    padding-left: 20px;
  }

body {
  background-color: papayawhip;
}
.container {
  padding-top: 5%;
  }

  header {
    margin: 0;
    padding: 0;
    width: 100%;
  }

main {
  width: 100%;
  margin: 0 auto;
}

.links {
color: red;
}

.test {
  padding-top: 10%;
}

footer {
  text-align: center;
}